aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
crispy-bootstrap5==0.7
Django==4.2
django-crispy-forms==2.0
frozenlist==1.3.3
idna==3.4
jokeapi==1.0.5
multidict==6.0.4
newsapi-python==0.2.7
Pillow==9.5.0
podcast-api==1.1.5
requests==2.29.0
simplejson==3.19.1
sqlparse==0.4.4
urllib3==1.26.15
yarl==1.9.2
