*{
    margin:0;
    padding:0;
}

body{
    overflow:hidden;
    overflow-y:scroll;
}
/*hero section*/
.hero{
  margin-top:-010px;

}
/*contact section*/
#cont{
  margin-right:-40px;
}
#socials{
    font-size: 1.5rem;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #toolkit {
    margin-left:-10px;
    display:flex;
    justify-content:flex-start;
    animation: pulse 8s ease-in-out infinite;
    animation: 3s ease-in 1s infinite reverse both running slidein;
    
  }
#deco{
  color:rgb(232, 149, 48);

}
.footer {
  padding: 20px;
  text-align:center;
  left:0;
  bottom:0;
  width:100%;
  height:50px;
  margin-top:0px;
  background-color:#5a60ea!important;
  
}
#footer-text{
  top:2px;
}
  

