*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root {
  --primary-color:#5b65ea; /* blue */
  --background-color: #fff; /* white */
  --secondary-color:#ff6dcd;
  --themeic-color: #e89733;
  --text-color: #333; /* black */
  --background-color-dark: #333; /* dark background */
  --text-color-dark: #fff; /* light text */
}
ul{
  list-style:none;
}


body{
    overflow-x:hidden;
    overflow-y:scroll;
}
.dark-mode{
  background-color:#f2f2f2;
  color: #5b5b5b;  
}
/*hero section*/
.hero{
  margin-top:-10px;

}
/*end of hero*/

/* about section/*

/*end about sectio*/



/* start contact section*/
#cont{
  margin-right:-40px;
}
#socials{
    font-size: 1.5rem;
} 

  /*span for titles*/
#deco{
  box-shadow:0 0 20px rgba(255, 161, 42, 1);
  /*box-shadow: 20px -26px #ffa02a;
  box-shadow: 2px 2px 2px 1px rgba(91, 101, 234, 1);*/

}
/*footer section*/
.footer {
  padding-top:10px;
  margin-top:20px;
  text-align:center;
  left:0;
  width:100%;
  height:50px;
  background-color:#5a60ea!important;
}

/*end of footer*/

/*buttons */
#buttons{
  background-color:#d36bcb;
  color:#fff;
  border-radius:30px;
  text-decoration:none;

}
/*end of buttons*/

/*toolkit icons*/
#toolkit{
  margin-left:-10px;
  display:flex;
  justify-content:flex-start; 
  transition: color 0.2s ease;  
}
#toolkits:hover{
  color:#d36bcb;
}
  /*end of toolkit*/

#socials :hover{
  color:#d36bcb;
  cursor: auto;;

}
#project{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:50px 0px;
}
.project-heading{
  margin-top:20px;
  display:flex;
  flex-direction:column;
}
.project-heading h3{
  font-size:default;
  font-weight:600;
  text-transform:uppercase;
}
.project-filter{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px;
  border:1px solid rgba(237,237,237,0.6);
  flex-wrap:wrap;
}
.project-filter li{
  margin: 10px;
  padding: 5px 20px;
  color: var(--themeic-color);
  font-size: 1rem;
  letter-spacing:0.5px;
  font-weight: 400;
  cursor:pointer;
  user-select:none;

}

.project-filter-active{
  background-color:var(--primary-color);
  color:#e89733;

}
.project-container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  margin-left:50px;

}
.project-box{
  width:330px;
  padding: 15px;
  border: 1px solid #f2f2f2;
  margin:20px;

}
/*.project-box img{
  width:100%;
  overflow: hidden;
  border-radius: 5px;

}*/
@media(max-width:740px){
  .project-filter{
    background-color:#fff;
    border: 1px solid rgba(237,237,237,0.6);
  }
  .project-filter-active{
    background-color:#fff;
    border: 1px solid rgba(237,237,237,0.6);
  }
  .project-box{
    width:80%;
  }
}

