{% load static %}
<section  class="m-4 p-4" id ="about-us">
    <div class="container">
            <div class="row">                
                <div class="col-md-5">
                    <img src="{% static 'images/hero.svg' %}" alt="dev"id="about-ima" class="rounded mx-auto d-block m-auto" id="about-image" style="height:230px;width:200px;">
                </div>
                <div class="col-md-7">
                    <h2 class="text-capitalize fs-1 fw-light "><span id='deco'>About Me.&#129299<span></h2>
                    <p class="text-dark fs-5 fw-light lh-3">
                        Hello again! Thanks for scrolling this far!!<br/><br/>
                        I am an extremely curious and <span class="fw-semi-bold" style="color:#5b65ea;">self-motivated individual</span>
                        <br/>                     
                        Other than playing with code, I enjoy hiking and going<br/>for cross-country besides hitting the gym once in a while.<br/>
                        I've also been trying to read more so feel free to reach out to me with any book recommendations!  
                    </p>                     
                </div>
            </div>    
    </div>
   


</section>




