{% load static %}
<section  class="m-5 p-4"id ="about-us">
    <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-capitalize fs-1 fw-light ">About Me.&#129299</h2>
                    <p class="text-dark fs-5 fw-light lh-3">
                        Hello again! Thanks for scrolling this far!!<br/>
                        I graduated from <span class="text-success fw-semi-bold">Dedan Kimathi University of Technology.</span>
                        <br/>
                     
                        Other than playing with code, I enjoy going for hikes and going<br/>for cross-country besides hitting the gym once in a while.
                        🤓 I've also been trying to read more so feel free to reach out to me with any book recommendations!  
                    </p>  
                    
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/pers.png' %}" alt="man"id="about-ima" class="rounded mx-auto d-block m-auto" id="about-image" style="height:230px;width:200px;">
                </div>
            </div>    
    </div>
   


</section>




