{% extends 'base.html'%} 
{% load static %}
{% block content%}
<div class="container-fluid m-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-capitalize fs-1 fw-light ">Hello! I'm Gab.&#128075</h2>
                <p class="text-dark fs-5 fw-light lh-3">A multidisciplinary developer and designer (sometimes)<br/>
                     with a passion for creating engaging, entertaining user experience.<br/>
                     Currently working as a freelance designer.
            </div>
            <div class="col-sm-4">
                <img src="{% static '/admin/images/lase.jpg' %}" class="img-thumbnail rounded-float-end" alt="person">
            </div>
        </div>

    </div> 
</div>
    

    <div class="flex">{% include 'pages/about.html' %}</div>
    
    <div class="container">{% include 'pages/projects.html'%}</div>

    <div class="container ">{% include 'pages/contact.html'%}</div>


{% endblock content%}


