
{% for i in response %}
    {{i}}
{% endfor%}
 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-lg-4">  
      <form method="post" class="col-md">  
          {% csrf_token %}  
            <div class=" input-group">   
              <input type="text" class="form-control" name="city" placeholder="Choose Your City">  
                  <div class="input-group-btn">  
                    <button type="submit" class="btn btn-primary">Search</button>  
            </div>    
        </form>
    </nav>  
    <br> 
  <div class="row"> 
    {% if country_code and coordinate and temp and pressure and humidity %} 
    {{result}} 
        <div class="col d-flex justify-content-center ">  
             <div class=" card text-white bg-light mb-6">  
                <div class=" card-body">  
                     <h4><span class="badge badge-primary">City :</span> {{city}}</h4>  
                     <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>  
                     <h4><span class="badge badge-primary">Coordinates [X,Y] :</span> {{coordinate}}</h4>  
                     <h4><span class="badge badge-primary">Temperature :</span> {{temp}}</h4>  
                     <h4><span class="badge badge-primary">Pressure :</span> {{pressure}} </h4>  
                      <h4><span class="badge badge-primary">Humidity : </span> {{humidity}}</h4>  
                </div>
        </div>  
    {% endif %}  
</div> -->




























6963fb9b88aa4ed3a8734ead9a2e32df