{% load static %}
<div class="container-fluid m-5 p-3">
    <div class="container">
        <div class="row">
            <div class="column">
                <h2 class="text-capitalize fs-1 fw-light ">My Toolkit. &#128187</h2>                    
            </div>
            <div class="row mt-lg-4 p-4">
                <div class="col-md-2"></div>
                <div class="col-md-2"><img src="{% static 'images/htm.png' %}" alt="...">html5</div>
                <div class="col-md-2"><img src="{% static 'images/js.png' %}" alt="...">Javascript</div>
                <div class="col-md-2"><img src="{% static 'images/python.png' %}" alt="...">Python</div>
            <div class="col-md-2"><img src="{% static 'images/django.png' %}" alt="...">Django </div>
                <div class="col-md-2"><img src="{% static 'images/git.png' %}" alt="...">Github</div>
                <br/>
                 <br/> 
            <div class="row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-2"><img src="{% static 'images/wp.png' %}" alt="...">Wordpress</div>
                <div class="col-md-2"><img src="{% static 'images/rest.png' %}" alt="...">RestAPI</div>
                <div class="col-md-2"><img src="{% static 'images/icons8-sql-50.png' %}" alt="...">SQL </div>
                <div class="col-md-2"><img src="{% static 'images/css3.png' %}" alt="...">Css3 </div>

            </div>
        <div>
    </div> 
</div>


