{% load static %}
<div class="container-fluid m-5 p-3">
    <div class="container">
        <div class="row">
            <div class="column">
                <h2 class="text-capitalize fs-1 fw-light ">My Toolkit. &#128187</h2>                    
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"><i class="bi bi-filetype-html" style="font-size: 4rem;"></i></div>
                <div class="col-md-2"><i class="bi bi-wordpress"style="font-size: 4rem;"></i></div>
                <div class="col-md-2"><i class="bi bi-filetype-js"style="font-size: 4rem;"></i></div>
                <div class="col-md-2"><i class="bi bi-filetype-py"style="font-size: 4rem;"></i></div>
                <div class="col-md-2"><i class="bi bi-github"style="font-size: 4rem;"></i></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"><i class="bi bi-filetype-sql" style="font-size: 4rem;"></i></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>

            </div>
        <div>
    </div> 
</div>


