{% load static %}
     <!-- Projects section -->
<section id="projects" class="p-4 m-5">
  <div class="container">
    <div class="row-align-items-start">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
            {% for projo in queryset %}
              <div class="card" style="width: 18rem;">
                 <img src="..." class="card-img-top" alt="...">
              <div class="card-body">{{projo.title}}</p>
            {% endfor%}
        </div>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  </div>   
</section>
<!-- End Projects section -->

