{% load static %}
     <!-- Projects section -->
<section id="projects" class="p-4 m-5">
    <div class= "row" id="project">
      <h3 class="text-center">My Projects</h3>
    </div>
    <!--filter-->
     <ul class="project-filter">
         <li class="list project-filter-active" data-filter="all">All</li>
         <li class="list" data-filter="wordpress">Wordpress Designs</li>
         <li class="list" data-filter='django'>Django Projects</li>
         <li class="list" data-filter="ai">AI</li>
      </ul>
  
      <div clas="project-container">
        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>

        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>

        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>
        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>
        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>
        <a href="" class="project-box">
          <img src="{% static 'images/logo.png' %}" alt='..'>
        </a>
        

      </div>
    </div>

  </div>
</section>
<!-- End Projects section -->

