{% extends 'base.html'%}

{% block content %}  
<div class="container">
    <div class="row">
        <div class="col-sm-12">
               <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h2>Funny Timeline Jokes as they are received</h2>
                    </div>
                     <p>
                        {% for jokes in final_response %}                        
                        {{jokes|safe}}
                        {% endfor %}
                     </p>
                  
                </div>
                </div>
        </div>

    </div>
</div>

{% endblock content%}


